body {
    font-family: 'Lato', 'Helvetica', sans-serif;
}

img.logo {
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

.nav {
    margin-left: auto;
    margin-right: auto;
    float: right;
}

.nav ul li {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

.nav a {
    color: #990033;
}

.nav a:hover {
    color: black;
}

#banner {
       
}

#banner img {
    width: 100%;
    min-width: 650px;
    min-height: 200px;
}

ul.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.form {
    position: absolute;
    width: 300px;
    left: 50%;
    margin: -300px 0px 0px -150px;
    
}

.form h1 {
    color: white;
    text-align: center;
    text-shadow: 2px 2px black;
}

.form input[type=text] {
    width: 100%;
    height: 30px;
    padding-left: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: auto;
    margin-right: auto;
}

.form select {
    width: 100%;
    height: 30px;
    padding-left: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: auto;
    margin-right: auto;
}

.form input[type=submit] {
    width: 100%;
    height: 30px;
    background-color: burlywood;
    color: #990033;
    font-size: 15px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: auto;
    margin-right: auto;
}

.form label {
    color: white;
}

#advanced-search-name + input[type="checkbox"]:unchecked {
    display: none;
}

input[type="checkbox"]:checked + #advanced-search-name {
    display:block;
}


