body {
    font-family: 'Lato', 'Helvetica', sans-serif;
    height: 100%;
    background: #ffeee3;
}

.content {
    clear: both;
    height: 100%;
}

.spacer {
    height: 10px;
    clear: left;
}

hr.result-separator {
    width: 500px;
    opacity: 0.3;
}

img.logo {
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

.nav {
    margin-left: auto;
    margin-right: auto;
    float: right;
}

.nav ul li {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

.nav a {
    color: #990033;
}

.nav a:hover {
    color: black;
}

#banner {
       
}

#banner img {
    width: 100%;
    height: 100%;
    min-width: 650px;
    min-height: 200px;
}

ul.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.horizontal-form {
    width: 800px;
    clear: both;
    margin: 0 auto;
}

.vertical-form {
    position: absolute;
    top: 30%;
    width: 300px;
    left: 50%;
    margin: 0px 0px 0px -150px;
}

.form h1 {
    color: white;
    text-align: center;
    text-shadow: 2px 2px black;
}

.form input[type=text] {
    height: 30px;
    padding-left: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    box-sizing: border-box;
}

.form input[type=text]:focus {
    border: 2px solid #990033;
}

.form input[type=submit]:focus {
    border: 2px solid #990033;
}

.form select:focus {
    border: 2px solid #990033;
}

.horizontal-form input[type=text],
input[type=submit].horizontal-form,
.horizontal-form select{
    width: 264px;
}

.vertical-form input[type=text],
.vertical-form input[type=submit],
.vertical-form select{
    width: 300px;
}

.form select {
    height: 30px;
    padding-left: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: auto;
    margin-right: auto;
}

.form input[type=submit] {
    height: 30px;
    background-color: burlywood;
    color: #990033;
    font-size: 15px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: auto;
    margin-right: auto;
}

.form label {
    color: white;
}

.footer {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 12px;
    clear: both;
}




.results {
    margin-top: 0px;
    height: 400px;
    width: 800px;
    margin: 0 auto;
    clear: both;
    overflow: auto;
}

.result {
    height: 100px;
    width: 500px;
}

.result-right {
    float: left;
    margin-left: 4px;
}

.result-thumb {
    height: 100px;
    width: 100px;
    float: left;
    margin: auto;
}

.result-title {
    float: left;
    width: 100%;
}

.result-description {
    margin: 0;
}

.result-rating {
    height: 30px;
    width: 100px;
    clear: both;
}

.large-map-img{
    float: right;
    height: 264px;
    width: 264px;
}
