body {
    font-family: 'Lato', 'Helvetica', sans-serif;
    height: 100%;
    background: #ffeee3;
}

.content {
    clear: both;
}

.spacer {
    height: 10px;
    clear: left;
}

hr.result-separator {
    width: 500px;
    opacity: 0.3;
}

/* ===== BEGIN HEADER STYLES ===== */
.header {
    margin: 0 auto;
}

@media (min-width: 800px) {
    .header {
        width: 800px;
    }
}

@media (max-width: 800px) {
    .header {
        width: 450px;
    }
}

h3.logo {
    height: 40px;
    margin: 0px 5px auto auto;
    width: 60px;
    color: #990033;
    background: rgba(255, 238, 277, 0.6);
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    float: left;
    top: 0%;
}

.nav {
    margin-left: auto;
    margin-right: auto;
    float: right;
}

.nav ul li {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

ul.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav a {
    color: #990033;
    text-decoration: none;
}

.nav a:hover {
    color: black;
}

/* === END HEADER STYLES === */

/* ===== BEGIN MAIN CONTENT STYLES ===== */

/* The banner is designed to "cover" the whole page and resize as the window resizes */
#banner {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 600px;
    bottom: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/banner.jpg);
    background-position: center;
    position: relative;
}

/* These media queries make sure the background banner height isn't too small on larger screens */
@media (min-height: 800px) {
    #banner {
        height: 650px;
    }
}

@media (min-height: 1000px) {
    #banner {
        height: 800px;
    }
}

h1 {
    color: white;
    text-align: center;
    text-shadow: 2px 2px black;
}

.horizontal-form {
    width: 800px;
    clear: both;
    margin: 0 auto;
}

/* This styling places the vertical form in the center of the page, and with a transparent, bordered, background */
.vertical-form {
    position: absolute;
    width: 300px;
    left: 50%;
    background: rgba(255, 238, 277, 0.2);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
}

.vertical-form-center {
    top: 30%;
    margin: 0px 0px 0px -170px; /* width is 300px with 20px padding on either side. 340/2 = 170 */
}

/* This form will appear on the left instead of center */
.vertical-form-left {
    top: 30%;
    margin: 0px 0px 0px -350px;
}

.vertical-form-right {
    top: 30%;
    margin: 0px 0px 0px 0px; 
}

/* These media queries will align the left and right vertical forms to be top and bottom. The horizontal form will shrink to stack */
@media (max-width: 800px) {
    .vertical-form-left {
        top: 5%;
        margin: 0px 0px 0px -170px;
    }

    .vertical-form-right {
        top: 50%;
        margin: 0px 0px 0px -170px; 
    }
    
    .horizontal-form {
        width: 530px;
        margin: 0 auto;
    }
}

.form input[type=text],
.form input[type=email],
.form input[type=password] {
    height: 30px;
    padding-left: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    box-sizing: border-box; /* To make the form inputs stretch the whole available length */
}

.form input[type=button] {
    height: 30px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.form input[type=file] {
    color: white; /* This is for the text that describes which file has been selected */
}

.form input[type=text]:focus {
    border: 2px solid #990033;
}

.form input[type=submit]:focus {
    border: 2px solid #990033;
}

.form select:focus {
    border: 2px solid #990033;
}

.horizontal-form input[type=text],
input[type=submit].horizontal-form,
.horizontal-form select{
    width: 264px;
}

.vertical-form input[type=text],
.vertical-form input[type=password],
.vertical-form input[type=email],
.vertical-form input[type=submit],
.vertical-form select{
    width: 300px;
}

.form select {
    height: 30px;
    padding-left: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: auto;
    margin-right: auto;
}

.form input[type=submit] {
    height: 30px;
    background-color: burlywood;
    color: #990033;
    font-size: 15px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: auto;
    margin-right: auto;
}

/* The label is used for the checkbox */
.form label {
    color: white;
    text-shadow: 1px 1px black;
}

.form p {
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 0;
    text-shadow: 2px 2px black;
    text-emphasis: 1;
}


/* Begin subsection for results and reviews */

/* The results will be in the center, and with a transparent bordered background */
.results {
    margin-top: 0px;
    background: rgba(255, 238, 277, 0.2);
    border-style: solid;
    border-color: white;
    border-width: 1px;
    padding: 20px;
    margin: 0 auto;
    clear: both;
    color: white;
}

/* The results get a smaller width when the window resizes */
@media (max-width: 800px) {
    .results {
        width: 530px;
    }
    .result {
        clear: both;
    }
}

@media (min-width: 800px) {
    .results {
        width: 750px;
    }   
}

/* The "results" div will contain "result" divs */
.result {
    height: 150px;
    width: 500px;
    color: black;
    background: #ffeee3;
}

/* This is the right portion of the full result div */
.result-right {
    float: left;
    margin-left: 4px;
    width: 80%;
}

/* This is the image associated with the result */
.result-thumb {
    height: 80px;
    width: 15%;
    float: left;
    margin: auto;
}

.result-title {
    float: left;
    width: 100%;
}

.result-description {
    margin: 0;
}

.result-address {
    margin: 0;
    font-style: italic;
}

.result-rating {
    height: 40px;
    width: 100px;
    clear: both;
}

#map {
    height: 264px;
    width: 264px;
    float: left;
}

@media (min-width: 800px) {
    #map {
        float: right;
    }
}

/* This is the image used on the individual sample page */
.large-profile-img{
    float: left;
    height: 264px;
    width: 264px;
}

/* End subsection for results and reviews */

/* ===== END MAIN CONTENT STYLES ===== */

/* ===== BEGIN FOOTER STYLES ===== */
.footer {
    width: 200px;
    text-align: center;
    font-size: 12px;
    clear: both;
    bottom: 0px;
    left: 50%;
    margin: 0 0 0 -100px; /* 200/2 = 100. This along with the left: 50% places the element in the center */
    position: relative;
}

/* ===== END FOOTER STYLES ===== */